---
interface Props {
	title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/fav-icon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- FONTS -->
    <link rel="preload" href="/fonts/SpaceGrotesk-Medium.woff" as="font" type="font/woff" crossorigin="">
    <link rel="preload" href="/fonts/SpaceGrotesk-Regular.woff" as="font" type="font/woff" crossorigin="">
</head>