---
import BaseHead from "@/components/baseHead.astro"
import Navbar from "@/components/Navbar.astro"
import Footer from "@/components/footer.astro"
---

<!doctype html>
<html lang="en">
	<BaseHead title="Kreatif Software" description="Kreatif ofrece servicios de diseño y desarrollo de software" />
	<style>
		html.lenis {
			height: auto;
		}
		.lenis.lenis-smooth {
			scroll-behavior: auto;
		}
		.lenis.lenis-smooth [data-lenis-prevent] {
			overscroll-behavior: contain;
		}
		.lenis.lenis-stopped {
			overflow: hidden;
		}
	</style>
	<script src="@/utils/lenis"></script>
	<body>
		<main>
			<Navbar />
			<slot />
			<Footer />
		</main>
	</body>
</html>

